<nav class="navbar navbar-expand-sm bg-dark navbar-dark p-0">
    <div class="navbar-brand">
        <img src="/img/dex_web_logo.png" height="59" width="165" />
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav flex-row ml-md-auto">
            <li><a class="nav-link" href="/index">Home</a></li>
            <li><a class="nav-link" href="/integration_hub">Integration Hub</a></li>
            <li><a class="nav-link" href="https://github.com/DataExperts/dexih.transforms">Open Source</a></li>
            <li><a class="nav-link" href="/blog">Blog</a></li>
            <li><a class="nav-link" href="/contact">Contact</a></li>
            <li><a class="nav-link" href="https://dexih.com">Customer Login</a></li>
        </ul>
    </div>
</nav>