<!DOCTYPE html>
<html>

  {% include head.html %}

<body id="page-top" class="landing-page">

    {% include header.html %}

    <div >
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>
                            {{ page.title }}
                        </h1>
                        <p>{{ page.subtitle }}</p>
                    </div>
                </div>
                <!-- Set background for slide in css -->
                <div class="header-back three"></div>
            </div>
        </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    {% include scripts.html %}

  </body>

</html>
